doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="css/bootstrap.min.css")
    script(src="js/jquery-3.4.1.min.js")
    script(src="js/jquery-migrate-3.1.0.min.js")
    style.
      body {
        padding-top: 56px;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href="https://github.com/pug-php/pug") Pug
        button.navbar-toggler(
          type="button",
          data-toggle="collapse",
          data-target="#navbarResponsive",
          aria-controls="navbarResponsive",
          aria-expanded="false",
          aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href="/") Titulinis
                span.sr-only (current)
            li.nav-item
              a.nav-link(href="/dashboard") !Admin
            li.nav-item
              a.nav-link(href="/login") Svečias
            li.nav-item
              a.nav-link(href="/cart") Krepšelis
    .container
      .row.my-4
        block nav
        .col-lg-9
          .row
            block page
    footer.py-5.bg-dark
      .container
        .m-0.text-center.text-white= "Copyright © Company Name 2019"
    script(src="js/bootstrap.min.js")
    block scripts